#table {
	display: flex;
	flex-wrap: wrap;
}
#table div {
	display: flex;
	flex-direction: column;
  margin:5px;
}
#table p {
	border-bottom: 1px solid #ccc;
}
#table input{
  margin-top: 13px;
}

.output{
  display:flex;
  flex-wrap:wrap;
}
.unch-label{
  font-weight:bold;
}

.output .unch-label{
  padding-right:5px;
}
